
 .allUsersProfile {
        max-width: 80%;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
 }
.userCard {
    display: flex;  
    width: 100%;
    gap: 1.2rem;
    padding: 1.3rem;
    align-items: center;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.1);
	cursor: pointer;
}
.userCard__image{
    width: 10%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    object-position: center;
    display: block;
    flex-shrink: 0;
    border-radius: 50%;
}

